.q-grid-container #qtable-0{
	grid-template-columns: 2fr repeat(5, 1fr);
	grid-template-rows: repeat(8, 1fr);
	grid-template-areas:
		". . . . . ."
		". . . . . ."
		". . . . . ."
		". . . . . ."
		". . . . . ."
		". . . . . ."
		". . . . . .";
}

.q-grid-container #qtable-1{
	grid-template-columns: 2fr repeat(5, 1fr);
	grid-template-rows: repeat(7, 1fr);
	grid-template-areas:
		". . . . . ."
		". a a a a a"
		". b b b b b"
		". c c c c c"
		". d d d d d"
		". e e e e e"
		". f f f f f";
}
.q-grid-container #qtable-1 .qtable-item:nth-child(8){grid-area: a}
.q-grid-container #qtable-1 .qtable-item:nth-child(10){grid-area: b}
.q-grid-container #qtable-1 .qtable-item:nth-child(12){grid-area: c}
.q-grid-container #qtable-1 .qtable-item:nth-child(14){grid-area: d}
.q-grid-container #qtable-1 .qtable-item:nth-child(16){grid-area: e}
.q-grid-container #qtable-1 .qtable-item:nth-child(18){grid-area: f}
